.sborder{
	
	
	border-style: outset;
	border-width: 5px;
	border-radius: 5px;



	width: 20%;
	height: 10%;

	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;

		

	text-align: center;
	background-color: white;


	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;



}
.headings{
	text-align: center;
	text-color: white;
	background-color: white;
}
.body{
background: lightblue url("https://www.thebalancemoney.com/thmb/mueU5BdCTVs3JB9sH0xEGZnxl7M=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/high-angle-view-of-text-on-paper-713880751-5c70b5c4c9e77c000149e4d2.jpg") no-repeat fixed center;
}
.buttons{
  	background-color: grey; 
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	display: inline-block;
 	 font-size: 16px
	border-radius: 5px;
  
}
.alignment{
	position: absolute;
  	left: 45%;
}
.textalignvertically{
	padding: 25px 0px;
	
}
.boxalign{
	margin: auto;
	width: 50%;
	padding: 5px;
}
.confirmB{
	border: 0.5px solid black;
	border-radius: 12px;
	padding: 5px;
  }
} 
